



## 常规忽略列表
#################################################################################
/.settings
/target
/.classpath
/.project
/.externalToolBuilders
/*.iml
/logs/*.*
/.buildpath
/*.iws
/.idea
*.ipr
*.log


## nodejs 相关的一些忽略
#################################################################################
/node_modules